*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Our_primary_color:#002;

}
body{
  min-height: 100vh;
  position: relative;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
.marker::marker{
    content: '';
    display: none;
}
.z_index_2{
  z-index: 2;
}
html::-webkit-scrollbar-track{
    /* background: none !important; */
    /* -webkit-box-shadow: none; */
    
}
html::-webkit-scrollbar-thumb{
    /* background: #0000003b;
    border-radius: 10px; */
    
}
html::-webkit-scrollbar{
    /* width: 7px; */
    /* background: none !important; */

}
html ::-webkit-scrollbar{
  width: 0;
}
.H-100vh{
    min-height: 90vh;
    height: 100%;
 }

.width-18-rem{
    width: 20.5rem;
}
.Bg-img::before{
  content: '';
height: 100%;
position: absolute;
background: linear-gradient(30deg, rgba(11, 1, 185, 0.158) 0%, rgba(228, 129, 0, 0.171) 68%);
width: 100%;
}
.Bg-img{
  position: relative;
    background-color:transparent;
    background: linear-gradient(6deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 68%);
    background-size:cover;
    /* background-blend-mode: darken; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:center;
    
}

.Cart_Count{
    background: rgb(255, 47, 47);
    padding: 6px 3px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.5rem;
    display: inline-block;
    aspect-ratio: 1;
    border-radius: 50%;
}
.Card_tag_box{
    font-size: 0.6rem;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    flex-direction: column;
    padding: 8px 0;
}
.iban{
  text-overflow: ellipsis; /* enables ellipsis */
  white-space: nowrap; /* keeps the text in a single line */
  overflow: hidden;
}
.Card_tag_box::-webkit-scrollbar{appearance: none;}
.Card_tag_box span{
    word-wrap: break-word;
    background: #f4f4f4;
    color: #989898;
    width: 100%;
    padding: 3px 6px;
    border-radius: 3px;
    margin:  0 3px;
}

.Product_card{
    height: 450px !important;
    cursor: pointer;
}
.Product_card .card-text{
    overflow: hidden;
    text-overflow: ellipsis ;
    width: 100%;
    height: 70px;
}
.modal_bg_on{
    background: #00000060;
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}
.main_card_editer{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    width: 90%;
    max-width: 950px;
    min-height: 80vh;
    max-height: 90vh;
    background: #fff;
    overflow-y: scroll;
    border: 1px solid var(--border_color);
    flex-wrap: wrap;
    border-radius:10px;
    z-index: 100;
}

.img-preview{overflow: hidden;}
.main_card_editer .Drop_box{
    border: 1px dashed;
    height: 200px;
}
.cursor-pointer{
  cursor: pointer;
}
.input_reset:focus{
    box-shadow: none !important;
}
.input_reset:disabled{
    background: #fff !important;
}
.input_reset{
    border: none;
    outline: none;
    background: #fff;

}

.main_card_editer input{
    /* border: 1px solid #a8a8a8d2;
    outline: transparent;
    display: block; */
}
.img_croping_area{
    height: inherit !important;
    max-width: 90% !important;
    max-height: 300px !important;
}
.hide{
    display: none !important;
}
.Card_Edit_container{
    min-height: 350px !important;
    /* width: 60%; */
 /* min-width: 30px; */
}
.Card_preview_container{
    border: 1px var(--border_color) solid;
    /* width: 40%; */
    /* min-width:350px; */
}
.btn:focus{
    box-shadow: none !important;
}
.overflow-hidden{
  overflow: hidden;
}
.overflow-hidden-y{
  overflow-y: hidden;
}

.object_fit_cover{
object-fit: cover !important;
object-position: center ;
}


/* add Card  Modal start */
/* add Card  Modal End */

/* finter price range start  */


.Price_range_filer_wrapper ::selection{
    color: #fff;
    background: #dfbbb8;
  }
  .Price_range_filer_wrapper{
    width: fit-content;
    background: #fff;
    border-radius: 10px;
    padding: 20px 25px 40px;
  }
  .Price_range_filer_wrapper header h2{
    /* font-size: 24px; */
    font-weight: 600;
  }
  .Price_range_filer_wrapper header p{
    margin-top: 5px;
    /* font-size: 16px; */
  }
  .Price_range_filer_wrapper .price-input{
    /* width: 0%; */
    display: flex;
    margin: 30px 0 35px;
  }
  .Price_range_filer_wrapper .price-input .field{
    display: flex;
    width: 100%;
    /* height:  */
    padding: 5px;
    align-items: center;
  }
  .Price_range_filer_wrapper .field input{
    width: 100%;
    height: 100%;
    outline: none;
    /* font-size: 19px; */
    margin-left: 12px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
  }
  .Price_range_filer_wrapper input[type="number"]::-webkit-outer-spin-button,
  .Price_range_filer_wrapper input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .price-input .separator{
    width: 10%;
    display: flex;
    /* font-size: 19px; */
    align-items: center;
    justify-content: center;
  }
  .Price_range_filer_wrapper .slider{
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
  }
  .Price_range_filer_wrapper .slider .progress{
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: #17A2B8;
  }
  .Price_range_filer_wrapper .range-input{
    position: relative;
  }
  .Price_range_filer_wrapper .range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .Price_range_filer_wrapper input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #17A2B8;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }
  .Price_range_filer_wrapper input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #17A2B8;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }




/* finter price range end */



/* media Qurys start  */
@media screen {
  
}
@media screen and (width < 900px){
  body{
    font-size: 0.8rem;
  }
}
@media screen and (width < 600px){
  body{
    font-size: 0.8rem;
  }
}
@media screen and (width < 300px){
  body{
    font-size: 3.5vw;
  }
}

/* media Qurys end */






/* big card css start */
.big_card_slider_img{position: relative;}
.big_card_slider_img .open_full_screen{
  display: none;
opacity: 0.3;}
.big_card_igm_slider .open_full_screen{

  content: '';
  /* display: none; */
  background: #0000005f;
  background-image: url('https://www.iconsdb.com/icons/preview/white/search-15-xl.png');
  background-position: 100%;
  /* background-origin:; */
  position: absolute;
  display: none;  /*                             ===============================================                   */
  height: 100%;
  width: 100%;
  z-index: 2;
  /* opacity: 0.5; */

}
.big_card_igm_slider .open_full_screen  i {
 position: absolute;
 font-size: 1.5rem;
  right: 10px;
  top: 10px;
  padding: 10px;
  color: #000;
  border-radius: 50%;
  background: #fff;
}
.modal > .card_parent > div:hover{ 
  box-shadow: 0 0 2px 2px #00ff00c0;
  transition: 0.5s;
  
}
.modal > .Detete_card > div:hover{ 
  box-shadow: 0 0 2px 2px #ff0000c0;
  transition: 0.5s;
  
}
.Featured_Products .AllCards > div > div:hover{ 
  box-shadow: 0 0 2px 2px #ff0000c0;
  transition: 0.5s;
}
.Edit_card_container .AllCards > div > div:hover{ 
  box-shadow: 0 0 2px 2px #00aeffc0;
  transition: 0.5s;
}
.Big_card_details .card_id_no{
  background: #212529;
  color: #fff;
}


/* big card css end */

.modal{
  display: flex;
  width: 80%;
  position: absolute;
  height: 90vh;
  overflow: hidden;
  overflow-y: scroll;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
  border-radius: 15px;
  justify-content: center;
}


/* cart side bar css start*/

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.cart_side_bar{
  position: fixed;
  width:0;
  background: #fff;
  top: 0;
  right: 0;
  z-index: 6;
  min-height: 100vh;
  overflow: hidden;
  height: 100%;
  transition: 0.5s;
}
.open_side_bar_anim{
  width: 40%;
}
.close_side_bar_anim{
  width:0;
}
.width_fit_content{
  width: fit-content;
}
.height_fit_content{
  height: fit-content;
}
.delete_btn:hover{
  color: #000 !important;
  transition: 0.5s;
  cursor: pointer;
}
.cart_card{height: fit-content;}
.cart_card img{
  height: 60px;
  aspect-ratio: 31 / 20;
  object-fit: cover;
  object-position: center;
}
@media (max-width:576px) { /* small window */
  .open_side_bar_anim{
    width: 100%;
  }
  .Page_container{
    margin: 50px;
    min-height: 50vh;
    height: fit-content;
  }
  .page_change{top: 95% !important;}
  .Login_page{width: 100% !important;}
  .Signup_page{width: 100% !important;}
  .sm-hide{
    width: 0;
  }
}

.Cart_box{
  overflow-y:scroll;
}

/* cart side bar css end*/

/* login Signup start */
.Login_page{
  background: #fff;
  height: 100%;
  top: 0;
  padding: 0rem;
  position: absolute;
  width: 0;
  left: 0;
  transition: 0.5s;
  opacity: 0;
}
.Login_page.active{
  width: 50%;
  padding: 3rem !important;
  opacity: 1;
}
.Signup_page.active{
  opacity: 1;
  width: 50%;
  padding: 3rem !important;
}
.page_change{
  position: absolute;
  top: 50%;
  left: 50%;
    padding: 0;
    height: 50px;
    width: 50px;
    background: #fff;
    transform: translate(-50% , -50%);
    font-size: 2rem;
    z-index: 2;
    transition: 0.2s;
    border-radius: 50% 50%;
  }
  .page_change i{
    transform: rotate(0);
    transition: 0.4s;
  }
.page_change i.left {
  transform: rotate(180deg);
}
  .Signup_page{
    width: 0%;
    opacity: 0;
  transition: 0.5s;
  padding: 0rem;
  background: #fff;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}
.Page_container{
  min-height: none;
}
.loginSignup_page{
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}

form > div {
margin: .7em 0;
text-align: left;
}
.writing input, .writing textarea {
background: transparent;
border: 0;
outline: 0;
font-size: 1em;
color: rgb(0, 0, 0);
}


/* text, password, textarea y number */
.writing {
display: flex;
flex-direction: column;
position: relative
}
.writing :is(input , textarea) {
padding: 10px 0;
margin-top: 1.2em;
}
.writing :is(input , textarea) ~ label {
position: absolute;
top: calc(10px + 1rem);
left: 0px;
pointer-events: none;
transition: all .2s ease;
color: #ababab;
}
.writing :is(input , textarea):focus ~ label,
.writing :is(input , textarea).has-text ~ label{
top: 5px;
font-size: .8em;
}
.writing :is(input , textarea) ~ span {
content: "";
height: 1px;
width: 100%;
background: #80808080;
display: flex;
justify-content: center;
}
.writing :is(input , textarea):invalid ~ span {
background: #ff0000;
}
.writing :is(input , textarea) ~ span:before {
content: "";
display: block;
height: 2px;
width: 0%;
background: #03A9F4;
transition: width .5s ease;
}
.writing :is(input , textarea):focus ~ span:before {width: 100%;}
.textarea textarea {
overflow: auto;
min-height: calc(1em + 20px);
height: 1.2em;
overflow: hidden;
resize: none;
}



/* login Signup end */




/* pagination css start */


.pagination_box ul{
  width: fit-content;
  /* width: 50vw; */
  display: flex ;
  flex-wrap: wrap ;
  background: #fff;
  font-size: 100%;
  padding: 5px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.055);
}


.pagination_box ul li{
  color: #212529;
  list-style: none;
  line-height: 45px;
  text-align: center;
  /* font-size: 14px; */
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}
.pagination_box ul li.numb{
  list-style: none;
  height: 45px;
  aspect-ratio: 1;
  margin: 0 3px;
  /* line-height: 45px; */
  border-radius: 50%;
}
.pagination_box ul li.numb.first{
  margin: 0px 3px 0 -5px;
}
.pagination_box ul li.numb.last{
  margin: 0px -5px 0 3px;
}
.pagination_box ul li.dots{
  /* font-size: 22px; */
  cursor: default;
}
.pagination_box ul li.btn{
  padding: 0 20px;
  /* border-radius: 50px; */
}
.pagination_box li.active,
.pagination_box ul li.numb:hover,
.pagination_box ul li:first-child:hover,
.pagination_box ul li:last-child:hover{
  color: #fff;
  background: #212529;
}
.meriClass{display: none;}


/* pagination css end */




/* cart page css start */

.cart_Table td{
  vertical-align: middle;
}


/* cart page css end */


/* Admin page css start  */

.Admin_sidebar_ul {

/* width: 100% !important; */

}


@media (width > 991px) { /* mid window */

  .Custom_Side_bar{
    height: 100vh !important;
    width: 30% !important;
  }
.Custom_Side_bar nav > div{
  display: flex !important;
  flex-direction: column;
align-items: flex-start !important;
margin: 0 !important;
padding: 0 !important;
  /* justify-content: flex-start !important; */
}
.Custom_Side_bar nav > div >div ul{
  display: flex;
  flex-direction: column !important;
  justify-content: start !important;
}


.Admin_sidebar_ul li{
  width: calc( 100% + 30px) !important;
  list-style: none;
  text-align: left  !important;
  margin: 10px 15px 12px 0 !important;
  padding: 10px 0 !important ;
}
.Admin_sidebar_ul li .active{
  background: #027fb9 !important;
  color: #fff !important;
}
.Admin_sidebar_ul li a{
  border-radius:  0 30px 30px 0 !important;
  text-decoration: none;
  transition: 0.5s;
  color: white;
}
}
@media  (width < 992px) { /* small window */

  .Custom_Side_bar{
    /* height: 100% !important; */
    width: 100% !important;
  }
.Custom_Side_bar nav > div{
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start !important;
  /* justify-content: flex-start !important; */
}
.Custom_Side_bar nav > div >div ul{
  display: flex;
  flex-direction: column !important;
  justify-content: start !important;
  align-items: flex-start;
}

}



/* Admin page css end */


