*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Our_primary_color:#002;

}
body{
  min-height: 100vh;
  position: relative;
}
.marker::marker{
    content: '';
    display: none;
}

html::-webkit-scrollbar-track{
    /* background: none !important; */
    /* -webkit-box-shadow: none; */
    
}
html::-webkit-scrollbar-thumb{
    /* background: #0000003b;
    border-radius: 10px; */
    
}
html::-webkit-scrollbar{
    /* width: 7px; */
    /* background: none !important; */

}
html ::-webkit-scrollbar{
  width: 0;
}
.H-100vh{
    min-height: 90vh;
    height: 100%;
 }

.width-18-rem{
    width: 20.5rem;
}
.Bg-img{
    background-color:transparent;
    background: linear-gradient(6deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 68%);
    background-size:cover;
    /* background-blend-mode: darken; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:center;
    
}

.Cart_Count{
    background: rgb(255, 47, 47);
    padding: 6px 3px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.5rem;
    display: inline-block;
    aspect-ratio: 1;
    border-radius: 50%;
}
.Card_tag_box{
    font-size: 0.6rem;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    flex-direction: column;
    padding: 8px 0;
}
.Card_tag_box::-webkit-scrollbar{appearance: none;}
.Card_tag_box span{
    word-wrap: break-word;
    background: #f4f4f4;
    color: #989898;
    width: 100%;
    padding: 3px 6px;
    border-radius: 3px;
    margin:  0 3px;
}

.Product_card{
    height: 450px !important;
    cursor: pointer;
}
.Product_card .card-text{
    text-overflow: ellipsis ;
    width: 100%;
    height: 70px;
}
.modal_bg_on{
    background: #00000060;
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}
.main_card_editer_Modal{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    width: 90%;
    max-width: 950px;
    min-height: 80vh;
    max-height: 90vh;
    background: #fff;
    overflow-y: scroll;
    border: 1px solid var(--border_color);
    flex-wrap: wrap;
    border-radius:10px;
    z-index: 100;
}

.img-preview{overflow: hidden;}
.main_card_editer_Modal .Drop_box{
    border: 1px dashed;
    height: 200px;
    width: 90%;
}

.input_reset:focus{
    box-shadow: none !important;
}
.input_reset:disabled{
    background: #fff !important;
}
.input_reset{
    border: none;
    outline: none;
    background: #fff;

}

.main_card_editer_Modal input{
    border: 1px solid #a8a8a8d2;
    outline: transparent;
    display: block;
}
.img_croping_area{
    height: inherit !important;
    max-width: 90% !important;
    max-height: 300px !important;
}
.hide{
    display: none !important;
}
.Card_Edit_container{
    min-height: 350px !important;
    width: 60%;
 /* min-width: 30px; */
}
.Card_preview_container{
    border: 1px var(--border_color) solid;
    width: 40%;
    min-width:350px;
}
.btn:focus{
    box-shadow: none !important;
}

.object_fit_cover{
object-fit: cover;
object-position: center;
}


/* add Card  Modal start */
/* add Card  Modal End */

/* finter price range start  */


.Price_range_filer_wrapper ::selection{
    color: #fff;
    background: #dfbbb8;
  }
  .Price_range_filer_wrapper{
    width: fit-content;
    background: #fff;
    border-radius: 10px;
    padding: 20px 25px 40px;
  }
  .Price_range_filer_wrapper header h2{
    /* font-size: 24px; */
    font-weight: 600;
  }
  .Price_range_filer_wrapper header p{
    margin-top: 5px;
    /* font-size: 16px; */
  }
  .Price_range_filer_wrapper .price-input{
    /* width: 0%; */
    display: flex;
    margin: 30px 0 35px;
  }
  .Price_range_filer_wrapper .price-input .field{
    display: flex;
    width: 100%;
    /* height:  */
    padding: 5px;
    align-items: center;
  }
  .Price_range_filer_wrapper .field input{
    width: 100%;
    height: 100%;
    outline: none;
    /* font-size: 19px; */
    margin-left: 12px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
  }
  .Price_range_filer_wrapper input[type="number"]::-webkit-outer-spin-button,
  .Price_range_filer_wrapper input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .price-input .separator{
    width: 10%;
    display: flex;
    /* font-size: 19px; */
    align-items: center;
    justify-content: center;
  }
  .Price_range_filer_wrapper .slider{
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
  }
  .Price_range_filer_wrapper .slider .progress{
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: #17A2B8;
  }
  .Price_range_filer_wrapper .range-input{
    position: relative;
  }
  .Price_range_filer_wrapper .range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .Price_range_filer_wrapper input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #17A2B8;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }
  .Price_range_filer_wrapper input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #17A2B8;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }




/* finter price range end */



/* media Qurys start  */
@media screen {
  
}
@media screen and (width < 900px){
  body{
    font-size: 0.8rem;
  }
}
@media screen and (width < 600px){
  body{
    font-size: 0.8rem;
  }
}
@media screen and (width < 300px){
  body{
    font-size: 3.5vw;
  }
}

/* media Qurys end */






/* big card css start */
.big_card_slider_img{position: relative;}
.big_card_slider_img .open_full_screen{
  display: none;
opacity: 0.3;}
.big_card_igm_slider .open_full_screen{

  content: '';
  /* display: none; */
  background: #0000005f;
  background-image: url('https://www.iconsdb.com/icons/preview/white/search-15-xl.png');
  background-position: 100%;
  /* background-origin:; */
  position: absolute;
  display: none;  /*                             ===============================================                   */
  height: 100%;
  width: 100%;
  z-index: 2;
  /* opacity: 0.5; */

}
.big_card_igm_slider .open_full_screen  i {
 position: absolute;
 font-size: 1.5rem;
  right: 10px;
  top: 10px;
  padding: 10px;
  color: #000;
  border-radius: 50%;
  background: #fff;

}

.Big_card_details .card_id_no{
  background: #212529;
  color: #fff;
}


/* big card css end */




/* cart side bar css start*/

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.cart_side_bar{
  position: fixed;
  width:0;
  background: #fff;
  top: 0;
  right: 0;
  z-index: 6;
  min-height: 100vh;
  overflow: hidden;
  height: 100%;
  transition: 0.5s;
}
.open_side_bar_anim{
  width: 40%;
}
.close_side_bar_anim{
  width:0;
}
.cart_card .delete_btn:hover{
  color: #000 !important;
  transition: 0.5s;
  cursor: pointer;
}
.cart_card{height: fit-content;}
.cart_card img{
  height: 60px;
  aspect-ratio: 31 / 20;
  object-fit: cover;
  object-position: center;
}
@media (max-width:576px) { /* small window */
  .open_side_bar_anim{
    width: 100%;
  }
  .Quick_link , .Quick_link :first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.Cart_box{
  overflow-y:scroll;
}
/* cart side bar css end*/
